<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a21_hg095_java">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".data.MyApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_logo"
        android:label="COSMO"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.21_hg095_java"
        android:usesCleartextTraffic="true">
        <service
            android:name=".BTService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".RentPopupActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".RentCompleteActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".LogoutPopupActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".ReportCompleteSidebarActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".RentalHelmetActivity"
            android:exported="true" />
        <activity
            android:name=".InformationBackActivity"
            android:exported="true" />
        <activity
            android:name=".InformationScrollViewActivity"
            android:exported="true" />
        <activity
            android:name=".QrThemeActivity"
            android:exported="true" />
        <activity
            android:name=".QrActivity"
            android:exported="true" />
        <activity
            android:name=".QuestionsReportActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".LoginCompleteActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".ReturnCompleteActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".ReturnLoadCheckActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".ReturnReportCompleteActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".ReturnFirstReportFirstActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".ReturnHelmetBeingWarningActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".ReturnFirstActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".BoxOpenPopUpYesActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".BoxOpenPopUpActivity"
            android:exported="true"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".MainActiveActivity"
            android:exported="true" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>